body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #292F36; /* Dark background color */
  color: #FFFFFF; /* White font color */
}
.container {
  text-align: center;
}

body::before,
body::after {
    content: '';
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #81AF31; /* Green color for shapes */
    opacity: 0.2; /* Adjust opacity as needed */
    z-index: -1;
}

body::before {
    top: -100px;
    left: -100px;
    border-radius: 50%;
}

body::after {
    bottom: -100px;
    right: -100px;
}

/* Triangle shape */
.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #81AF31; /* Green color for triangle */
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
}

/* Square shape */
.square {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF; /* White color for square */
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
button {
  padding: 15px 30px; /* Increased padding for a larger button */
  font-size: 20px; /* Increased font size */
  border: none;
  background-color: #FF5733; /* New button color */
  color: #FFFFFF; /* White font color */
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 8px; /* Rounded corners */
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Updated notes styling */
#notes {
  padding: 20px;
  background-color: #292F36; /* Semi-transparent white background */
  border-radius: 8px;
  width: 320px;
  margin: 0 auto;
   /* Subtle box shadow */
  position: absolute;
  top: 1%;
  left: 80%; /* Adjust left position */
  transform: translateX(-50%);
  z-index: 2; /* Ensure notes are above background shapes */
 
}

#notes::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 10px; /* Adjust left position */
  border-width: 10px;
 
  /* Triangle border color */
}
/* Add styles as needed */
#audioContainer {
  margin-top: 20px;
}
